@import '../../assets/scss/colors.scss';

.exercise-table {
  margin: 10px auto;
  width: 90%;
  border: 2px solid $lightBlueColor;
  // border-collapse: collapse;

  thead {
    background: $darkBlueColor;
    border: 2px solid $darkBlueColor;

    th {
      padding: 10px;
    }
  }

  tbody {
    tr {
      background: $lightBlueColor;

      td {
        padding: 10px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    tr:nth-child(2n+1) {
      background: white;
    }

  }
}
