@import '../../../assets/scss/colors.scss';
@import '../../../assets/scss/breakpoints';

.dialog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .close-button {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    color: black;
    outline: 0;
    position: relative;
    top: -30px;
    right: -20px;

    &:hover {
      cursor: pointer;
      color: lighten(black, 20%);
    }
  }
}

.full-screen-modal .mat-dialog-container {
  max-width: none;
}

.edit-results-table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;

  tbody tr {
    height: 10px !important;
  }

  tbody tr td {

    p {
      margin: 1px;
      padding: 0;
    }

    display: table-cell;
    vertical-align: middle;
    text-align: center;

    .inc-dec-button {
      color: black;
      border: 1px solid $lightBlueColor;
      background: $darkBlueColor;

      width: 30px;
      font-size: 28px;

      &:hover {
        cursor: pointer;
      }

      @include breakpoint($sm) {
        width: 50px;
        font-size: 36px;
        transition: 0.3s;
        background: $lightBlueColor;

        &:hover {
          background: $darkBlueColor;
        }
      }
    }

    .confirm-button {
      margin-top: 30px;
      color: black;
      background: $darkBlueColor;

      @include breakpoint($sm) {
        transition: 0.3s;
        background: $lightBlueColor;

        &:hover {
          background: $darkBlueColor;
        }
      }
    }

    .result-digit {
      padding: 0;
      color: black;
      font-size: 22px;
      font-weight: bold;

      @include breakpoint($sm) {
        font-size: 36px;
      }
    }

    .result-measure,
    .result-reps {
      color: black;
      font-size: 16px;
      font-weight: bold;

      @include breakpoint($sm) {
        font-size: 24px;
      }
    }

    .divider {
      margin-left: 0px;
      margin-right: 0px;

      @include breakpoint($sm) {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}
