/* Angular Material theme */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
